---
import ResumeLayout from '../layouts/ResumeLayout.astro'
import ResumeHeader from '../components/ResumeHeader.astro'

import * as resume from '../content/resume.md'

const {title, author: name} = resume.frontmatter
---

<ResumeLayout {title}>
  <ResumeHeader {name} {title} />
  <div class="prose">
    <resume.Content />
  </div>
</ResumeLayout>
